body {
    font-family: 'IBM Plex mono', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}


/* Заголовок */

.head {
    padding: 70px 0;
    color: #ffffff;
    font-size: 57px;
    font-weight: 700;
    text-align: center;
}

.list {
    list-style-type: none;
}


/* Первый экран - Intro */

.intro {
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
    background-image: url(img/Logo.svg), url(img/logo-brushes.svg), url(img/strip.svg);
    background-repeat: no-repeat;
    background-position: center, center, bottom -40px left;
    background-size: auto, auto, contain;
}

.header {
    display: flex;
    justify-content: space-between;
}


/*Гамбургер*/

.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 250px;
    top: 55px;
}

.burger-name {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
    font-size: 24px;
}

.menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
}

.menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
}

.menu-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav {
    text-decoration: none;
    color: #222;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
}

.link-nav:hover {
    color: #A65353;
    transition: 0s;
    box-shadow: 0 0 0 0px #fff;
}

.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
}


/* Конец Гамбургера */

.insta-intro,
.tel-intro {
    display: flex;
    align-items: center;
}

.insta-intro {
    margin: 25px 0 10px 0;
}

.text-intro {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;
}

.text-intro:hover {
    background: linear-gradient(to left, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-call {
    color: white;
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    font-weight: 700;
}

.icon-intro {
    padding-right: 30px;
    max-width: 40px;
    box-sizing: content-box;
}

.main {
    background-image: url(img/strip.svg), url(img/background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-attachment: local, fixed;
    padding: 80px 0 0 0;
    background-position-y: -50px;
}


/* Второй раздел - Услуги детейлинга начало*/

.service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: 'wash wash wash paint paint paint' 'deteiling deteiling deteiling deteiling deteiling deteiling' 'tire tire tint tint pasting pasting' 'removing removing removing removing removing removing'
}

.block {
    display: flex;
    align-items: flex-end;
    min-height: 370px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

.link {
    width: 100%;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding-left: 35px;
    padding-bottom: 25px;
}

.detailing-list_item:first-child {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.deteiling-list {
    list-style-type: none;
    font-weight: 100;
    font-size: 20px;
    margin-left: -39px;
    line-height: 35px;
}

.car-wash {
    background-color: aqua;
    background-image: url(img/car-wash.jpg);
    background-size: cover;
}

.block:hover {
    transition-duration: 0.9s;
    transform: scale(1.1);
    color: red;
}

.paint-disks {
    background: url(img/paint-disks.jpg) no-repeat;
    background-size: cover;
}

.deteiling {
    background: url(img/detailing.jpg) no-repeat;
    background-size: cover;
}

.tire-service {
    background: url(img/tire-service.jpg) no-repeat;
    background-size: cover;
}

.tint {
    background: url(img/tint.jpg) no-repeat;
    background-size: cover;
}

.pasting {
    background: url(img/pasting.jpg) no-repeat;
    background-size: cover;
}

.removing-dents {
    background: url(img/removing-dents.jpg) no-repeat;
    background-size: cover;
}


/* Расположение карточек */

.block:nth-child(1) {
    grid-area: wash;
}

.block:nth-child(2) {
    grid-area: paint;
}

.block:nth-child(3) {
    grid-area: deteiling;
}

.block:nth-child(4) {
    grid-area: tire;
    height: 300px;
}

.block:nth-child(5) {
    grid-area: tint;
    height: 300px;
}

.block:nth-child(6) {
    grid-area: pasting;
    height: 300px;
}

.block:nth-child(7) {
    grid-area: removing;
}


/* Форма обратного звонка */

.call-back {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.number {
    width: 453px;
    height: 110px;
    box-shadow: inset 2px 0 13px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
}

.call-back__line {
    background: url(img/strip.svg) no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 312px;
}

.call-back_pic {
    margin-right: 40px
}

.call-back_btn {
    width: 173px;
    height: 110px;
    border: 3px solid #ffffff;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 1px rgba(219, 219, 219, 0.3);
}

.call-back_btn:hover {
    background-color: #2a2a2a;
}

.call-back_btn:active {
    background-color: #2a2a2a;
    box-shadow: none;
}

form {
    display: flex;
    align-items: center;
}

.description {
    background-color: hsl(0, 0%, 100%, 0.6);
    background-image: url(img/strip.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-y: -56px;
}

.h3 {
    color: #ffffff;
    font-size: 30px;
    background-color: #333;
    display: inline-block;
}

.text {
    font-size: 16px;
    line-height: 24px;
}

.text-home {
    padding-bottom: 100px;
}

.text-list {
    list-style-type: none;
}

.text-list__item {
    margin: 10px 0;
}

.text-list__link {
    color: #fff;
    font-size: 20px;
}

.text-list__link:hover {
    border-bottom: 2px solid #fff;
}


/* Партнеры */

.parters-item {
    display: flex;
}

.partner-item__pic:nth-child(-n+3) {
    margin-right: 15px;
}

.partner-head {
    display: flex;
    justify-content: center;
}

.partner-head__icon {
    margin-left: 30px;
}


/* Фотогалерея начало */

.galery_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gallery-item {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
}

.btn-more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 335px;
    height: 60px;
    border-radius: 7px;
    background-color: #1f1f1f;
    color: white;
    font-size: 27px;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
}

.gallery-foto:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.btn-more:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
}

.btn-more:active {
    box-shadow: none;
}


/* Фотогалерея конец */


/* Footer */

.footer {
    background-color: #1f1f1f;
    color: white;
    padding: 50px 0;
}

.footer-box {
    display: flex;
    justify-content: space-around;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.footer-link:hover {
    font-weight: 700;
}

.vk:hover {
    color: #4680c2;
}

.fb:hover {
    color: #3b5998;
}

.yt:hover {
    color: #c4302b;
}

.inst:hover {
    background: linear-gradient(to left, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-list__item {
    margin: 5px 0 0 -40px;
}

.footer-box__contact {
    max-width: 350px;
}

.text-footer {
    font-size: 16px;
    font-family: 'IBM Plex mono', sans-serif;
}

.field-mail {
    display: block;
    height: 35px;
    box-sizing: border-box;
}

.btn-mail {
    background-color: #111;
    background: url(img/email.svg) no-repeat;
    background-position: center;
    width: 60px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    cursor: pointer;
}


/* ---------------
-------- Медиа начало --------
--------------------------------*/

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 350px;
        padding: 0 5px;
    }
    .intro {
        display: flex;
        align-items: flex-end;
        background-size: 80%, contain, contain;
    }
    .header {
        margin-bottom: 10%;
    }
    .icon-intro {
        padding-right: 20px;
        max-width: 30px;
    }
    .head {
        padding: 40px 12px;
        font-size: 40px;
    }
    .main {
        background-image: url(img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 1px;
        background-position-y: 0px;
    }
    /*Гамбургер*/
    .burger {
        right: 25px;
        top: 24px;
    }
    .burger-name {
        color: #fff;
        display: flex;
        justify-content: flex-end;
        margin-right: -5px;
        font-size: 24px;
    }
    .menu-btn {
        width: 50px;
        height: 50px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }
    .menu-btn span::before {
        transform: translateY(-5px);
    }
    .menu-btn span::after {
        transform: translateY(5px);
    }
    .menu-btn_active span:before {
        transform: rotate(-35deg);
        width: 10px;
        transform-origin: left bottom;
    }
    .menu-btn_active span:after {
        transform: rotate(35deg);
        width: 10px;
        transform-origin: left top;
    }
    .menu-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link-nav {
        text-decoration: none;
        color: #ffffff;
        text-shadow: 0px 0px 6px #ff0000;
        font-weight: 700;
        display: flex;
        margin-right: 20px;
        transition: 1s;
    }
    .link-nav:hover {
        color: #A65353;
        transition: 0s;
        box-shadow: 0 0 0 0px #fff;
    }
    .menu-nav {
        transition: 0.2s;
        transform: scaleX(0) translateX(0%);
        transform-origin: right center;
        opacity: 0;
        visibility: hidden;
        height: 50px;
        line-height: 50px;
        background-color: transparent;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: -25px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .menu-nav_active {
        transform: scaleX(1) translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    /* Конец Гамбургера */
    .number {
        max-width: 300px;
        height: 90px;
        box-shadow: inset 2px 0 13px rgba(0, 0, 0, 0.6);
        background-color: #ffffff;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px 10px 0px 0px;
    }
    .call-back__line {
        background: none;
    }
    .call-back_pic {
        display: none;
    }
    .call-mobile {
        display: flex;
        flex-direction: column;
    }
    .call-back_btn {
        width: 300px;
        height: 75px;
        font-size: 35px;
        border-radius: 0px 0px 10px 10px;
    }
    .service {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 50px;
        grid-template-areas: 'wash' 'paint' 'deteiling' 'tire' 'tint' 'pasting' 'removing';
    }
    .text-home {
        padding: 0 10px 0 10px;
    }
    .parters-item {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .partner-head {
        display: flex;
        flex-flow: column;
    }
    .partner-head__icon {
        margin: 0 0 10px 0;
    }
    .partner-item__pic:nth-child(-n+3) {
        margin: 5px;
    }
    .galery_grid {
        display: none;
        /*   grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr) 1fr 1fr 1fr;
        grid-gap: 0px;*/
    }
    .btn-more {
        width: 295px;
    }
    .footer-box {
        display: flex;
        flex-direction: column;
    }
}


/* Медиа конец */


/*------------ - - - - - - - - - - - - - --
- - - - - - - Страница контакты  - - - - - -
 - - - - - -- - - - - - -----------------*/

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.place,
.video-contact {
    margin-bottom: 150px;
}

.background {
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-c {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    margin: 70px 0
}

.text-w {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
}

.header-contact {
    padding-top: 150px;
}

.button {
    background-color: #E7D0C6;
    color: #1F1F1F;
    border: 1px solid #ffffff;
    font-size: 25px;
    border-radius: 10px;
    min-width: 290px;
    min-height: 80px;
    margin-top: 35px;
}

.button:hover {
    background-color: #d1c7c2;
    cursor: pointer;
    border: 1px solid #000000;
}

.side-top {
    padding-top: 170px;
}

.block-w {
    border: 1px solid #ffffff;
    padding: 40px;
    margin: 1%;
}

.text-s {
    color: #ffffff;
    font-size: 28px;
}

.form-mail {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.white-text {
    color: #ffffff;
}

.social__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .video-contact,
    .form-mail {
        display: none;
    }
}