body {
    font-family: 'IBM Plex mono', sans-serif;
}

a {
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


/* Заголовок */

.head {
    padding: 70px 0;
    color: #ffffff;
    font-size: 57px;
    font-weight: 700;
    text-align: center;
}

.list {
    list-style-type: none;
}


/* Первый экран - Intro */

.intro {
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
    background-image: url(img/Logo.svg), url(img/logo-brushes.svg), url(img/strip.svg);
    background-repeat: no-repeat;
    background-position: center, center, bottom -40px left;
    background-size: auto, auto, contain;
}

.header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}


/*Гамбургер*/

.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 250px;
    top: 55px;
}

.burger-name {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
    font-size: 24px;
}

.menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
}

.menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
}

.menu-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav {
    text-decoration: none;
    color: #222;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
}

.link-nav:hover {
    color: #A65353;
    transition: 0s;
    box-shadow: 0 0 0 0px #fff;
}

.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
}


/* Конец Гамбургера */

.insta-intro,
.tel-intro {
    display: flex;
    align-items: center;
}

.insta-intro {
    margin: 25px 0 10px 0;
}

.text-intro {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;
}

.text-intro:hover {
    background: linear-gradient(to left, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-call {
    color: white;
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    font-weight: 700;
}

.icon-intro {
    padding-right: 30px;
    max-width: 40px;
}

.main {
    background-image: url(img/strip.svg), url(img/background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-attachment: local, fixed;
    padding: 80px 0 0 0;
    background-position-y: -50px;
}


/* Второй раздел - Услуги детейлинга начало*/

.service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: 'wash wash wash paint paint paint' 'deteiling deteiling deteiling deteiling deteiling deteiling' 'tire tire tint tint pasting pasting' 'removing removing removing removing removing removing'
}

.block {
    display: flex;
    align-items: flex-end;
    min-height: 370px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 5px solid #ffffff;
    overflow: hidden;
}

.link {
    width: 100%;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding-left: 35px;
    padding-bottom: 25px;
}

.detailing-list_item:first-child {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.deteiling-list {
    list-style-type: none;
    font-weight: 100;
    font-size: 20px;
    margin-left: -39px;
    line-height: 35px;
}

.car-wash {
    background-color: aqua;
    background-image: url(img/car-wash.jpg);
    background-size: cover;
}

.block:hover {
    transition-duration: 0.9s;
    transform: scale(1.1);
    color: red;
}

.paint-disks {
    background: url(img/paint-disks.jpg) no-repeat;
    background-size: cover;
}

.deteiling {
    background: url(img/detailing.jpg) no-repeat;
    background-size: cover;
}

.tire-service {
    background: url(img/tire-service.jpg) no-repeat;
    background-size: cover;
}

.tint {
    background: url(img/tint.jpg) no-repeat;
    background-size: cover;
}

.pasting {
    background: url(img/pasting.jpg) no-repeat;
    background-size: cover;
}

.removing-dents {
    background: url(img/removing-dents.jpg) no-repeat;
    background-size: cover;
}


/* Расположение карточек */

.block:nth-child(1) {
    grid-area: wash;
}

.block:nth-child(2) {
    grid-area: paint;
}

.block:nth-child(3) {
    grid-area: deteiling;
}

.block:nth-child(4) {
    grid-area: tire;
    height: 300px;
}

.block:nth-child(5) {
    grid-area: tint;
    height: 300px;
}

.block:nth-child(6) {
    grid-area: pasting;
    height: 300px;
}

.block:nth-child(7) {
    grid-area: removing;
}


/* Форма обратного звонка */

.call-back {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.number {
    width: 453px;
    height: 110px;
    box-shadow: inset 2px 0 13px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
}

.call-back__line {
    background: url(img/strip.svg) no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 312px;
}

.call-back_pic {
    margin-right: 40px
}

.call-back_btn {
    width: 173px;
    height: 110px;
    border: 3px solid #ffffff;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 1px rgba(219, 219, 219, 0.3);
}

.call-back_btn:hover {
    background-color: #2a2a2a;
}

.call-back_btn:active {
    background-color: #2a2a2a;
    box-shadow: none;
}

form {
    display: flex;
    align-items: center;
}

.description {
    background-color: hsl(0, 0%, 100%, 0.5);
    background-image: url(img/strip.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-y: -56px;
}


}
.text {
    font-size: 16px;
    line-height: 24px;
}
.text-home {
    padding-bottom: 100px;
}

/* Партнеры */
.parters-item {
    display: flex;
}
.partner-item__pic:nth-child(-n+3) {
    margin-right: 15px;
}
.partner-head {
    display: flex;
    justify-content: center;
}
.partner-head__icon {
    margin-left: 30px;
}

/* Фотогалерея начало */
.galery_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.gallery-item {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
}
.btn-more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 335px;
    height: 60px;
    border-radius: 7px;
    background-color: #1f1f1f;
    color: white;
    font-size: 27px;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
}
.gallery-foto:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.btn-more:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
}
.btn-more:active {
    box-shadow: none;
}

/* Фотогалерея конец */

/* Footer */
.footer {
    background-color: #1f1f1f;
    color: white;
    padding: 50px 0;
}
.footer-box {
    display: flex;
    justify-content: space-around;
}
.footer-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.footer-link:hover {
    font-weight: 700;
}
.footer-list__item {
    margin: 5px 0 0 -40px;
}
.footer-box__contact {
    max-width: 350px;
}
.text-footer {
    font-size: 16px;
    font-family: 'IBM Plex mono', sans-serif;
}
.field-mail {
    display: block;
    height: 35px;
    box-sizing: border-box;
}
.btn-mail {
    background-color: #111;
    background: url(img/email.svg) no-repeat;
    background-position: center;
    width: 60px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    cursor: pointer;
}